@model List<string>

@{
    ViewData["Title"] = "Reviews By Author";
}

<h2>Choose an author to view reviews:</h2>

@if (Model.Count == 0)
{
    <p>No authors available.</p>
}
else
{
    <ul>
        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <a asp-controller="Review" asp-action="DisplayReviewsByAuthor" asp-route-author="@Model[i]">@Model[i]</a>
            </li>
        }
    </ul>
}

<p>
    <a asp-controller="Home" asp-action="Index" class="text-dark text-muted">Back to Home Page</a>
</p>
