@{
    ViewData["Title"] = "Restu Reviews | Home Page";
}

<div class="text-center">
    <h1 class="display-4">Restu Reviews</h1>
    <p>The one site for restaurant reviews that you want to keep your eye on.</p>
    <p>
     Check reviews here: <a class="text-dark" asp-controller="Review" asp-action="Index">Reviews</a>
    </p>
</div>
